<div class="randomizer" data-ng-controller="RandomizerCtrl as RandomizerCtrl">
  <div class="slotGroup">
    <div class="slots">
      <slot items="RandomizerCtrl.buns" to-update="composition.bun" delay="0"/>
    </div>
    <div class="slots" >
      <slot items="RandomizerCtrl.toppings" to-update="composition.toppings[0]" delay="500"/>
    </div>
    <!--<button data-ng-click="RandomizerCtrl.addTopping()">Add topping</button>-->
    <div class="slots" >
      <slot items="RandomizerCtrl.condiments" to-update="composition.condiments[0]" delay="1000"/>
    </div>
    <!--<button data-ng-click="RandomizerCtrl.addCondiment()">Add condiment</button>-->
  </div>
  <div class="randomizeButton">
    <div class="slot-arm" data-ng-click="RandomizerCtrl.randomize()"></div>
  </div>
</div>
