<div class="maincontent">
    <div class="mainimage"><img src="images/home.jpg"></div>
    <section data="promotions" class="promotions">
        <h3>Current promotions</h3>
        <ul>
            <li><p>Ham Sandwich</p><span class="originalPrice">€3.00</span><span class="promoPrice">€2.50</span><span class="promoSavings">€0.50</span></li>
            <li><p>Club Mamamia</p><span class="originalPrice">€3.85</span><span class="promoPrice">€3.25</span><span class="promoSavings">€0.60</span></li>
        </ul>
    </section>
    <section data="important" class="important">
        <em>We will be closed during the holiday period! Happy holidays!</em>
    </section>
    <section data="openingHours" class="openingHours">
        <h1>Opening Hours</h1>
        <ul>
            <li><data itemprop="openingHours" datedata="Mo 09:00-17:30"><span class="day">Monday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="Tu 09:00-17:30"><span class="day">Tuesday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="We 09:00-17:30"><span class="day">Wednesday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="Th 09:00-17:30"><span class="day">Thursday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="Fr 09:00-17:30"><span class="day">Friday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="Sa 09:00-17:30"><span class="day">Saturday:</span> <span class="hours">09:00-17:30</span></data></li>
            <li><data itemprop="openingHours" datedata="Su 09:00-17:30"><span class="day">Sunday:</span> <span class="hours">09:00-17:30</span></data></li>
        </ul>
    </section>
</div>