<div class="maincontent">
  <section data="promotions" class="promotions">
    <h3>Current promotions</h3>
    <ul>
      <li><p>Ham Sandwich</p><span class="originalPrice">€3.00</span><span class="promoPrice">€2.50</span><span
        class="promoSavings">€0.50</span></li>
      <li><p>Club Mamamia</p><span class="originalPrice">€3.85</span><span class="promoPrice">€3.25</span><span
        class="promoSavings">€0.60</span></li>
    </ul>
  </section>
  <section data="important" class="important">
    <em>We will be closed during the holiday period! Happy holidays!</em>
  </section>
  <section data="openingHours" class="openingHours">
    <h1>Opening Hours</h1>

    <openinghours></openinghours>
  </section>
</div>
